* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 80px;
    background: white;
    z-index: 1000;
    transition: background 0.4s;
}

.navlink {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navlink a {
    text-decoration: none;
    font-weight: bold;
    font-size: 27px;
    position: relative;
    padding: 7px 0;
    color: gray;
    transition: color 0.4s;
}

.navlink a::before {
    border-radius: 30px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    background: rgb(2, 153, 82);
    content: '';
    height: 4px;
    transition: all 0.4s;
    transform: translateX(-50%);
}

.logo a {
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.logo {
    transition: transform 0.4s;
}

.about a{
    color: black;
}

header {
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn 1s;
    background: url(./images/background.jpg) no-repeat center/cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

header img {
    width: 250px;
    height: 250px;
}

.about-me {
    padding: 35px;
}

.about-me h2 {
    font-size: 40px;
}

.about-me p {
    font-size: 25px;
}

footer {
    text-align: center;
    padding: 50px 0;
}

footer a {
    text-decoration: none;
    color: rgb(0, 81, 255);
}

.ncst {
    text-decoration: none;
    color: blue;
    position: relative;
}

.ncst::before {
    position: absolute;
    width: 0;
    bottom: 0;
    padding-bottom: 17px;
    background: rgba(15, 81, 224, 0.253);
    content: '';
    height: 10px;
    transition: all 0.5s;
}

@media (min-width: 769px) and (max-width: 2560px) {
    .navlink a:hover::before{
        width: 100%;
    }
    .navlink a:hover {
        color: black;
    }
    .logo:hover {
        transform: scale(1.1);
    }
    .ncst:hover::before {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        background: black;
    }
    .navlink a {
        color: white;
        font-size: 20px;
    }
    .logo a {
        color: white;
        font-size: 20px;
    }
    header img {
        width: 200px;
        height: 200px;
    }
    .about-me p {
        font-size: 20px;
    }
    .about-me h2 {
        font-size: 25px;
    }
}